<div class="bg-image">
  <h3> Welcome to Billing Management System</h3>
</div>
<!-- <app-best-seller></app-best-seller> -->

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>receipt_long</mat-icon> Billing Management System
    </a>
    <ul>
      <li>
        <a (click)="loginAction()">Login</a>
      </li>

      <li>
        <a (click)="signupAction()">Sign-up</a>
      </li>

      <li>
        <a (click)="forgotPasswordAction()">Forgot Password</a>
      </li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>All right reserved &#64; UCM</h2>
</div>